In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_total = pd.read_excel('./files/1_crawling_raw.xlsx')
raw_total.head()

,content,date,like,place,tags
0,ë” ëŠ¦ê¸°ì „ì— ì œì£¼ë„ë¡œ ë– ë‚˜ìŸˆğŸ˜.#ì œì£¼í•«í”Œë ˆì´ìŠ¤ ê°„ë‹¨íˆ 1íƒ„ ëª¨ì•„ë´„!#ì œì£¼ì—¬í–‰ ìš” í•„...,2018-12-07,"1,402",NaN,"['#ì œì£¼í•«í”Œë ˆì´ìŠ¤', '#ì œì£¼ì—¬í–‰', '#ì œì£¼ì—¬í–‰', '#ì œì£¼ë„ì—¬í–‰', '#ì œì£¼ê°€..."
1,12ì›”ì— ì œì£¼ë„ë¥¼ ê°€ì•¼í•˜ëŠ”ì´ìœ ğŸŠ.#ì œì£¼í•«í”Œ ëª¨ìŒ ëíŒì™•ğŸ˜ì´ê±° í•˜ë‚˜ë©´ ê²¨ìš¸ #ì œì£¼ì—¬í–‰...,2018-12-03,368,NaN,"['#ì œì£¼í•«í”Œ', '#ì œì£¼ì—¬í–‰', '#ì œì£¼', '#ì œì£¼ë„', '#ì œì£¼ë„ë§›ì§‘', '#..."
2,11ì›” ë†“ì¹˜ì§€ ë§ì•„ì•¼ í• ì œì£¼ ê´€ê´‘.ê°€ì„ë°”ëŒì´ ìµœê³ ì¡°ì— ì´ë¥´ëŠ” 11ì›”ì¶”ìš´ ê²¨ìš¸ì„ ì•...,2018-11-02,166,NaN,"['#honestin', '#ì–´ë‹ˆìŠ¤í‹´', '#ì œì£¼ì—¬í–‰', '#ì œì£¼', '#ì œì£¼ë„',..."
3,êµ­ë¯¼í•™êµì„¸ëŒ€#ì œì£¼ê´€ê´‘#ì œì£¼ì‚´ì´#ì œì£¼ì´ì£¼ë¯¼#ì•„ë¼ë™ì£¼ë¯¼#ì‚¼ë‚¨ë§¤ì§‘ #ìƒˆí•´ì²«ë‚ #ë“œë¼ì´ë¸Œ#ëª…...,2019-01-01,28,ëª…ì›”êµ­ë¯¼í•™êµ,"['#ì œì£¼ê´€ê´‘', '#ì œì£¼ì‚´ì´', '#ì œì£¼ì´ì£¼ë¯¼', '#ì•„ë¼ë™ì£¼ë¯¼', '#ì‚¼ë‚¨ë§¤ì§‘'..."
4,#ì œì£¼ê´€ê´‘ #ì œì£¼ #ë”ë‚˜ì´íŠ¸ #ìŠ¤íŠ¸ë ˆìŠ¤ #í’€ì #ì¶¤ì¶”ë©° #ë•€ë‚ ë ¤ #ê°€ë”ì€ê´œì°®ì•„ #ì¸...,2019-01-01,12,NaN,"['#ì œì£¼ê´€ê´‘', '#ì œì£¼', '#ë”ë‚˜ì´íŠ¸', '#ìŠ¤íŠ¸ë ˆìŠ¤', '#í’€ì', '#ì¶¤ì¶”..."

In [4]:
location_counts = raw_total.place.value_counts()
location_counts_df = pd.DataFrame(location_counts)
location_counts_df.head()

                      place
Jeju                    241
Jeju-do                 172
Jungle Book by Alice    101
Seogwipo                 65
ì œì£¼ë„ í¬ë¦¬ìŠ¤ë§ˆìŠ¤ ë°•ë¬¼ê´€            59

In [ ]:
list(location_counts_df.index)